* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.box, .box2 {
    background-color: rgb(57, 152, 74);
    border: 1px solid white;
    height: 100px;
}

.box2 {
    background-color: rgb(234, 188, 70);
}