* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px;
    
    width: 100%;
    margin: 0 auto;
}

.container__table {
    width: 100%;
}

.box {
    background-color: rgb(57, 152, 74);
    border: 1px solid white;
    height: 100px;
}